<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<h1>Data Science Tools and Ecosystem</h1>

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
+ popular languages for Data Science
+ popular libraries for Data Science
+ tools for Data Science

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

## Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. PyTorch
3. Pandas

| Data Science Tools |
|--------------------|
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
def convert_to_preferred_format(sec):  
    sec = sec % (24 * 3600)
    hour = sec // 3600
    sec %= 3600
    min = sec // 60
    sec %= 60
    print("seconds value in hours:",hour)
    print("seconds value in minutes:",min)
    return "%02d:%02d:%02d" % (hour, min, sec) 

n = 10000
print("Time in preferred format :-",convert_to_preferred_format(n))

seconds value in hours: 2
seconds value in minutes: 46
Time in preferred format :- 02:46:40

## Author
Nalini Ajwani